@media screen and (max-width: 1800px) {
    .pos .header-text {
        display: none;
    }
    .pos .rightpane-header-extend {
        display: none;
    }
    .pos .product-img-big {
        display: none;
    }
    .pos .product-img-small {
        display: none;
    }
    .pos .product-img {
        display: none;
    }
    .pos .line_number {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .pos .header-text {
        display: none;
    }
    .pos .actionpad .button.set-customer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .pos .actionpad .button.set-customer.decentered {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pos .button-extend {
        /*width: 20% !important;*/
    }
}

@media screen and (max-width: 1200px) {
    .pos .breadcrumb-button.breadcrumb-home {
        width: auto;
        font-size: 13px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 1200px) {
    .pos .back_text {
        display: none !important;
    }
    .pos .next_text {
        display: none !important;
    }
    .pos .value {
        font-size: 25px !important;
    }
    /*.pos .actionpad .button.set-customer {*/
    /*    font-size: 25px !important;*/
    /*}*/
    .pos .oe_status {
        display: none !important;
    }
    .pos .summary_extend {
        display: none !important;
    }
    .search-clear.left {
        position: relative;
        top: -40px;
        left: 5%;
    }

    .search-clear.right {
        position: relative;
        top: -70px;
        left: 85%;
    }

    .pos .searchbox input {
        width: 70%;
    }

    .pos .searchbox {
        position: relative;
    }
}

@media screen and (max-width: 1200px) {
    .pos .product-list {
        padding: 0px;
    }
    .pos .rightpane-header-extend {
        display: none;
    }

    .pos .product {
        width: 32%;
        height: auto;
        margin: 0px !important;
    }

    .pos .product:active {
        border: solid 50px #6ec89b;
        box-sizing: border-box;
    }

    .pos .product:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .pos .product .product-img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .pos .product .product-img img {
        max-height: none;
        max-width: none;
    }

}

@media screen and (max-width: 1200px) {
    .pos .paymentlines-container {
        min-height: 0px;
        border-bottom: none;
        padding-bottom: 3px;
    }

    .pos .paymentlines {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .payment-status-container {
        font-size: 22px;
    }

    .payment-screen .payment-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .payment-screen .payment-controls {
        display: flex;
        flex-wrap: wrap;
    }

    .payment-screen .payment-buttons .button {
        flex-basis: 30%;
        flex-grow: 1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0px;
        line-height: normal;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .payment-screen .payment-buttons .button .fa {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .searchbox-client.top-content-center {
        display: flex
    }

    .pos .searchbox-client input {
        width: auto;
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .pos .clientlist-screen .client-details-box {
        display: flex;
        flex-wrap: wrap;
    }

    .pos .clientlist-screen .client-details-left {
        width: auto;
        float: none;
        flex-grow: 1;
    }

    .pos .clientlist-screen .client-details-right {
        width: auto;
        float: none;
        flex-grow: 1;
    }

    .pos .clientlist-screen .client-detail {
        display: flex;
        flex-direction: column;
    }

    .pos .clientlist-screen .client-details input,
    .pos .clientlist-screen .client-details select {
        width: 100%;
    }

    .pos .clientlist-screen .client-details input.client-name {
        width: 100%;
    }

    .pos .clientlist-screen .client-detail > .label {
        width: auto;
        text-align: left;
    }

    .pos .clientlist-screen .client-list td {
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 1200px) {
    .paymentmethods {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .paymentmethods .button {
        border: solid 1px rgb(202, 202, 202);
        border-radius: 3px;
    }

    .paymentmethod {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .pos .product_configurator_attributes .attribute {
        width: 95%;
    }
}

@media screen and (max-width: 1200px) {
    .receipt-screen .default-view {
        flex-direction: column-reverse;
        overflow: auto;
    }

    .receipt-screen .default-view .actions {
        flex: 0;
    }

    .receipt-screen .default-view .actions h1 {
        margin-bottom: 1.5rem;
    }

    .receipt-screen .default-view .pos-receipt-container {
        flex: 1;
        overflow: visible;
    }
}

/* Custom */
@media screen and (max-width: 1200px) {
    .pos .popups .popup-selection {
        left: 0px !important;
        width: 95%;
    }
    .pos .filter {
        display: none !important;
    }

    .pos .modal-dialog {
        width: 95%;
    }

    .pos .numpad {
        margin-right: 0px !important;
    }

    .pos .popup.popup-selection .selection-item {
        max-width: 20% !important;
        height: 100px;
    }

    .pos .breadcrumb-button.breadcrumb-home {
        font-size: 20px !important;
    }

    .screen .top-content .next {
        margin-right: 0px !important;
    }

    .screen .top-content .button {
        margin-right: 0px !important;
    }

    .pos .searchbox-client input {
        width: unset !important;
    }

    .screen .top-content .save {
        margin-right: 20px !important;
    }

    .pos .client-selected {
        display: none;
    }

    .pos .switchpane {
        height: 70px;
        width: 100%;
    }

    .pos .pos-search-bar .filter .options {
        min-width: unset !important;
    }

    .pos .rightpane-header .pos-search-bar {
        margin-left: 0px !important;
    }

    .pos .pos-search-bar .search {
        min-width: 190px !important;
    }

    .pos .order .orderline .price {
        font-size: 13px !important;
    }

    .pos .login-button {
        margin: 10px;
    }

    .pos .order .orderline .product-name {
        line-height: 20px !important;
    }

    .paymentmethods {
        margin-top: 0px !important;
    }

    .pos .button-extend > button {
        width: 30% !important;
    }

    .pos .control-button {
        width: 30%;
    }

    .pos .payment-numpad .numpad button {
        height: 60px !important;
        width: 22% !important;
    }

    .pos .popups .popup-selection {
        left: 0px !important;
        width: 95%;
    }

    .pos .payment-status-change .label {
        font-size: unset !important;
    }

    .pos .payment-buttons {
        width: unset !important;
        max-width: 100% !important;
    }

    .payment-screen .payment-controls {
        width: 43%;
    }

    .payment-screen .customer-button {
        width: 43%;
    }

    .pos .modal-dialog {
        width: 95%;
    }

    .pos .button-label {
        font-size: 11px !important;
    }

    .pos .actionpad .button .fa-user {
        display: none;
    }

    .pos .leftpane .pads .subpads {
        margin-left: 0px !important;
    }

    .pos .numpad button {
        height: 52px;
    }

    .pos .payment-numpad .numpad button {
        height: 60px !important;
    }

    /*.pos .button-extend > button {*/
    /*    width: 15% !important;*/
    /*    margin: 3px;*/
    /*}*/
    .pos .numpad {
        margin-right: 0px !important;
    }

    .pos .popups .popup-selection {
        left: 0px !important;
        width: 95%;
    }

    /*.pos .popup-numpad .input-button, .pos .popup-numpad .mode-button {*/
    /*    height: unset !important;*/
    /*    width: unset !important;*/
    /*}*/
    /*.pos .button-extend > button {*/
    /*    width: 15% !important;*/
    /*    height: 50px;*/
    /*}*/
    .pos .numpad {
        margin-right: 0px !important;
    }

    .pos .popup .category-simple-button {
        width: 38% !important;
    }

    .pos .payment-numpad .numpad button {
        height: 60px !important;
    }

    .pos .modal-dialog .popup textarea {
        width: 90%;
        border: 1px solid #3c4858;
    }

    .pos .modal-dialog .popup .product {
        width: 10em !important;
        margin: 0.5em !important;
    }

    .pos .modal-dialog {
        width: 95%;
    }

    .pos .product {
        width: 45% !important;
        height: 16em !important;
        margin: auto !important;
        margin-bottom: 1em !important;
    }

    .payment-screen .paymentlines-empty .total {
        padding: 10px !important;
        font-size: 40px !important;
    }

    .pos .product .product-img-big img {
        height: 50%;
        width: 50%;
    }

    /*.pos .control-buttons {*/
    /*    max-height: 150px !important;*/
    /*    !*width: 100% !important;*!*/
    /*    min-height: 40px;*/
    /*    float: unset;*/
    /*    padding: unset;*/
    /*    display: none;*/
    /*}*/
    /*.pos .control-button {*/
    /*    width: 18%;*/
    /*    min-width: unset;*/
    /*    height: 50px !important;*/
    /*    min-height: 60px !important;*/
    /*}*/
    .pos .client-details-left {
        width: 100% !important;
    }

    .pos .client-details-right {
        width: 100% !important;
    }

    .pos .header {
        margin-top: 35px;
    }

    .pos .leftpane {
        max-width: 100% !important;
    }
}